<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<ul>
{{range .}}
    <li>
        <div>{{.Meal}}</div>
        <ul>
        {{range .Itens}}
            <li>{{.Name}} - {{.Price}}</li>
        {{end}}
        </ul>
    </li>
{{end}}
</ul>

</body>
</html>